@import 'variables';
@import 'mixins';
@import 'components';
@import "text";
body {
  margin: 0;
  font-family: 'EuclidMedium';
  background-color: $primary-color;
  color: $secondary-color;
}

.centered {
  @include center-content;
}

body {

}

.popup {
  background-color: $primary-color;
  color: $secondary-color;
}

.toggle-button {
  background-color: $primary-color;
  color:$secondary-color;
}