@mixin center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@mixin responsive-padding {
  padding: 20px;

  @media (max-width: 600px) {
    padding: 10px;
  }
}

@mixin text-medium {
  font-family: 'EuclidMedium';
}
@mixin text-bold {
  font-family: 'EuclidBold';
}
@mixin text-regular {
  font-family: 'EuclidRegular';
}
@mixin text-semi-bold {
  font-family: 'EuclidSemiBold';
}
@mixin text-light {
  font-family: 'EuclidLight';
}