@font-face {
  font-family: 'EuclidBold';
  src: url('@/assets/fonts/Euclid Circular B Bold.ttf');
}

@font-face {
  font-family: 'EuclidRegular';
  src: url('@/assets/fonts/Euclid Circular B Regular.ttf');
}

@font-face {
  font-family: 'EuclidSemiBold';
  src: url('@/assets/fonts/Euclid Circular B SemiBold.ttf');
}

@font-face {
  font-family: 'EuclidMedium';
  src: url('@/assets/fonts/Euclid Circular B Medium.ttf');
}

@font-face {
  font-family: 'EuclidLight';
  src: url('@/assets/fonts/Euclid Circular B Light.ttf');
}